$redColor: #DB0A16;
$lightRedColor : #ff3b3b;
$greenColor: #16A007;
$Montserratfont : 'Montserrat', sans-serif;
$GrayColor: #A5A5A5;
$yellowColor : #FFB133;
$mobile : 588px;
$mobile1 : 768px;
$responsive : 1300px;