@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@media (min-width: 769px) {
  .toogle-button {
    display: none;
  }
}

.toogle-button {
  width: 50px;
  margin: 3px;
  background-color: transparent;
  font-weight: bolder;
  font-size: 30px;
  border: none;
}

.profileCompontent {
  -webkit-box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
          box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
  height: auto;
  margin: auto;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .profileCompontent {
    padding: 0px;
  }
}

@media (min-width: 1000px) {
  .profileCompontent {
    width: 80%;
  }
}

.profileCompontent .profile {
  height: 550px;
  width: 25%;
  margin-top: 50px;
}

.profileCompontent .profile button {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  .profileCompontent .profile {
    z-index: 3;
    position: fixed;
    width: 50%;
    -webkit-transition: "transform .3s ease-out";
    transition: "transform .3s ease-out";
    -webkit-box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
            box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
    height: 550px !important;
  }
}

@media (max-width: 297px) {
  .profileCompontent .profile {
    width: 100% !important;
  }
}

@media (min-width: 1000px) {
  .profileCompontent .profile {
    width: 20%;
  }
}

.profileCompontent .profile .profileName {
  height: 50px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
          box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.profileCompontent .profile .profileName p {
  margin-top: 5px;
  padding-left: 10px;
  line-height: 20px;
}

.profileCompontent .profile .myProfile {
  height: 50px;
  border-bottom: 1px solid #A5A5A5;
}

.profileCompontent .profile .secondprofile {
  background-color: white;
  height: 455px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
          box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
  border-radius: 2px;
  text-align: center;
}

.profileCompontent .profile .secondprofile p {
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  font-size: small;
}

@media screen and (max-width: 768px) {
  .profileCompontent .profile {
    position: fixed;
    z-index: 3;
    background-color: white;
    position: fixed;
    width: 50%;
    -webkit-box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
            box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
    height: 500px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .profileCompontent .hide {
    -webkit-transform: translateX(-100%) !important;
            transform: translateX(-100%) !important;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
  .profileCompontent .show {
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
}

.profileCompontent .inputsection {
  height: 600px;
  width: 70%;
}

@media (min-width: 1000px) {
  .profileCompontent .inputsection {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .profileCompontent .inputsection {
    width: 130%;
  }
}

.profileCompontent .inputsection .firstInput {
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
          box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
  padding-bottom: 10px;
}

.profileCompontent .inputsection .firstInput small {
  position: relative;
  left: 55px;
  top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  opacity: 0.7;
}

.profileCompontent .inputsection .firstInput .mekvhanname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileCompontent .inputsection .firstInput .mekvhanname span {
  margin: 15px 10px 0px 30px;
}

.profileCompontent .inputsection .firstInput .mekvhanname p {
  font-weight: bold;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}

.profileCompontent .inputsection .firstInput .profilename {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileCompontent .inputsection .firstInput hr {
  margin-top: -10px;
  width: 93%;
}

.profileCompontent .inputsection .secondInput {
  height: auto;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
          box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
}

.profileCompontent .inputsection .secondInput small {
  position: relative;
  left: 55px;
  top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  opacity: 0.7;
}

.profileCompontent .inputsection .secondInput .mekvhanname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileCompontent .inputsection .secondInput .mekvhanname span {
  margin: 15px 10px 0px 30px;
}

.profileCompontent .inputsection .secondInput .mekvhanname p {
  font-weight: bold;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}

.profileCompontent .inputsection .secondInput .profilename {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileCompontent .inputsection .secondInput hr {
  margin-top: -10px;
  width: 93%;
}

.gernalSection {
  width: 55%;
  background-color: white;
  height: auto;
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
          box-shadow: 0 3px 10px 0 rgba(138, 155, 165, 0.5) !important;
  padding-bottom: 10px;
}

@media screen and (max-width: 588px) {
  .gernalSection {
    width: 100%;
    margin: 0px;
    text-align: left;
  }
}

.gernalSection .hr {
  width: 95% !important;
  margin: auto !important;
}

.gernalSection .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black !important;
}

.gernalSection .title h4 {
  margin-top: 10px;
}

.gernalSection .title p {
  background-color: #ff3b3b;
  margin-top: 10px;
  text-align: center;
  padding: 0px 10px 0px 0px;
}

.gernalSection .virtical {
  background-color: #DB0A16;
  height: 55px;
  width: 6px;
  margin-right: 10px;
}

.gernalSection h3 {
  color: #DB0A16;
}

.gernalSection .price {
  white-space: nowrap;
}

@media screen and (max-width: 588px) {
  .gernalSection .price {
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .gernalSection .price {
    text-align: center;
  }
}

@media (min-width: 990px) {
  .gernalSection .price {
    margin-top: 50px !important;
  }
}

.gernalSection .price h1 {
  color: #16A007;
  font-weight: bolder;
}

.gernalSection .price h5 {
  text-decoration: line-through;
}

.gernalSection .button {
  text-align: center !important;
  margin-top: 30px;
}

@media screen and (max-width: 588px) {
  .gernalSection .button {
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .gernalSection .button {
    margin-top: 0px;
  }
}

.gernalSection .button .btn1 {
  margin-right: 30px;
  width: auto;
  border-radius: 28px;
  color: #A5A5A5;
  background-color: white;
  border: none;
  border: 1.5px solid #DB0A16;
}

.gernalSection .button .btn1 img {
  padding-right: 7px;
}

@media (min-width: 1300px) {
  .gernalSection .button .btn1 {
    margin-right: 60px;
  }
}

.gernalSection .button .btn2 {
  padding-left: 30px;
  padding-right: 20px;
}

.gernalSection .button .bt2, .gernalSection .button .btn1:focus {
  outline: none;
}

.gernalSection .subtitle {
  margin: 20px 0px 5px 30px;
}

.gernalSection ul {
  list-style: none;
  color: #A5A5A5;
  line-height: 20px;
  margin-top: px;
  font-weight: 450;
}

.gernalSection ul li::before {
  content: "\2022";
  color: #DB0A16;
  font-weight: bolder;
  font-size: x-large;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.gernalSection .small {
  color: #FFB133;
  font-size: large;
  padding-left: 40px;
  font-style: italic;
}
/*# sourceMappingURL=App.css.map */